# Pandas Techniques for Data Manipulation in Python

### <u>1. Apply Function</U>:

This function takes a function as an input and applies this function to an entire DataFrame or every single value of the pandas series.
The **apply()** function can be used with default or user-defined functions.
When we working with DataFrame, we must specify an axis we want the function to act on(columns: 0, rows: 1).

<u>Letâ€™s see an Example:</u>

In [30]:
import pandas as pd
df = pd.read_csv('summer2016.csv')
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

Let's say we want to create a new column which is transforming the Height by meter (= Height / 100) of each player

we can use apply() with lambda function

In [31]:
df['Height_Square'] = df['Height'].apply(lambda h: h/100)

df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Height_Square
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,1.98
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,1.65

Now, let's try to calculate PMI(= Weight / Height<sup>2</sup>), then create a new column "PMI"

We use the second argument "axis = 1" to make calculations for each row

In [32]:
df['PMI'] = df.apply(lambda row: row['Weight'] / row['Height_Square']**2, axis = 1)

df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Height_Square,PMI
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,1.98,22.956841
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,1.65,17.998163

We can create another column "PMI_Status" and fill it with the status related to this PMI value. We can define a function and use it with apply()

In [33]:
def pmi_range(row):
    status = ""
    if row['PMI'] < 18.5:
        status = 'Thin'
    elif row['PMI'] > 25:
        status = 'Obese'
    else:
        status = 'Normal'
    
    return status

In [34]:
df['PMI_Status'] = df.apply(pmi_range, axis=1)

df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Height_Square,PMI,PMI_Status
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,1.98,22.956841,Normal
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,1.65,17.998163,Thin

Also, we can use the built-in function from the NumPy module, to calculate the mean of two columns("Weight" and "Height").
like this

In [56]:
import numpy as np
df[['Weight', 'Height']].apply(np.mean, axis=0)

Weight     73.965740
Height    178.373386
dtype: float64

Note: We can use map() when dealing with one column (Series) in data frame (map() is used to substitute each value in a Series with another), but when dealing with more than one column we use apply() (apply() is used to apply a function along an axis of the DataFrame or on values of Series. )

### <u>2. Boolean Indexing</U>:

Its main task is to use the actual values of the data in the DataFrame to select subsets of data based on the actual values of the data in the DataFrame and not on their row/column labels or integer locations.. In boolean indexing, we use a boolean vector to filter the data. We can filter the data in the boolean indexing in different ways, which are as follows:

In [37]:
import pandas as pd
df = pd.read_csv('summer2016.csv')
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

We can select rows and columns of a data frame using boolean arrays.

In [38]:
mask = df['Age'] > 50
print(mask)

0       False
1       False
2       False
3       False
4       False
        ...
2009    False
2010    False
2011    False
2012    False
2013    False
Name: Age, Length: 2014, dtype: bool

In [39]:
df[mask]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37,Abdullah Al-Rashidi,M,52,183,83,Individual Olympic Athletes,IOA,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Skeet,Bronze
109,Ludger Beerbaum,M,52,190,85,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
454,Phillip Peter Dutton,M,52,168,68,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",Bronze
926,Santiago Ral Lange Roberti,M,54,184,73,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Mixed Multihull,Gold
1042,"Elizabeth ""Beezie"" Madden (Patton-)",F,52,168,63,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Silver
1344,Steffen Peters,M,51,173,68,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Dressage, Team",Bronze
1497,Philippe Rozier,M,53,173,63,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
1621,"Nicholas David ""Nick"" Skelton",M,58,175,76,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Individual",Gold
1761,Stuart Brian Tinney,M,51,180,71,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Bronze

 We also can make a boolean index first

In [40]:
df.index = mask

In [41]:
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Age,,,,,,,,,,,,,,
False,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
False,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

then, we can access dataframe using .loc[] function

In [42]:
df.loc[True]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Age,,,,,,,,,,,,,,
True,Abdullah Al-Rashidi,M,52,183,83,Individual Olympic Athletes,IOA,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Skeet,Bronze
True,Ludger Beerbaum,M,52,190,85,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
True,Phillip Peter Dutton,M,52,168,68,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",Bronze
True,Santiago Ral Lange Roberti,M,54,184,73,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Mixed Multihull,Gold
True,"Elizabeth ""Beezie"" Madden (Patton-)",F,52,168,63,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Silver
True,Steffen Peters,M,51,173,68,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Dressage, Team",Bronze
True,Philippe Rozier,M,53,173,63,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
True,"Nicholas David ""Nick"" Skelton",M,58,175,76,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Individual",Gold
True,Stuart Brian Tinney,M,51,180,71,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Bronze

### <u>3. Cut function</U>:

Pandas cut() function is used to segregate array elements into separate bins. 

The cut() function works only on one-dimensional array-like objects.

The cut() function is useful when we have a large number of scalar data and we want to perform some statistical analysis on it.

In [43]:
import pandas as pd
df = pd.read_csv('summer2016.csv')
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

In [44]:
df['Age_bins'] = pd.cut(x=df['Age'], bins = [10, 20, 30, 40, 50, 60])

In [45]:
df.head(10)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_bins
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,"(20, 30]"
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,"(20, 30]"
2,Luc Abalo,M,31,182,86,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver,"(30, 40]"
3,Saeid Morad Abdevali,M,26,170,80,Iran,IRI,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze,"(20, 30]"
4,Denis Mikhaylovich Ablyazin,M,24,161,62,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver,"(20, 30]"
5,Denis Mikhaylovich Ablyazin,M,24,161,62,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horse Vault,Silver,"(20, 30]"
6,Denis Mikhaylovich Ablyazin,M,24,161,62,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Bronze,"(20, 30]"
7,"Matthew ""Matt"" Abood",M,30,197,92,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Bronze,"(20, 30]"
8,"Alejandro ""lex"" Abrines Redondo",M,23,198,93,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,Bronze,"(20, 30]"
9,Ahmad Abughaush,M,20,178,68,Jordan,JOR,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Men's Featherweight,Gold,"(10, 20]"

We can also add labels to these bins

In [57]:
df['Age_bins'] = pd.cut(x=df['Age'], bins = [10, 20, 30, 40, 50, 60], 
        labels=['ten to twenty', 'twenty to thirty', 'thirty to forty', 'forty to fifty', 'fifty to sixty'])

In [58]:
df.head()

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_bins
0,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,twenty to thirty
1,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,twenty to thirty
2,M,31,182,86,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver,thirty to forty
3,M,26,170,80,Iran,IRI,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze,twenty to thirty
4,M,24,161,62,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver,twenty to thirty

### <u>4. query() method</U>:

It's is one of the methods pandas provide to filter (subsetting) a data frame.

In [48]:
import pandas as pd
df = pd.read_csv('summer2016.csv')
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

In [49]:
df.query('Age > 55')

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1621,"Nicholas David ""Nick"" Skelton",M,58,175,76,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Individual",Gold

We can use multi conditions

In [50]:
df.query('Age > 50 and Height > 175')

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37,Abdullah Al-Rashidi,M,52,183,83,Individual Olympic Athletes,IOA,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Skeet,Bronze
109,Ludger Beerbaum,M,52,190,85,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
926,Santiago Ral Lange Roberti,M,54,184,73,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Mixed Multihull,Gold
1761,Stuart Brian Tinney,M,51,180,71,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Bronze

### <u>5. Removing VAriables from a data frame</U>:

In [51]:
import pandas as pd
df = pd.read_csv('summer2016.csv')
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze

We can remove a column, like this:

In [52]:
df.drop('NOC', axis=1)

,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,Italy,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,Azerbaijan,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
2,Luc Abalo,M,31,182,86,France,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver
3,Saeid Morad Abdevali,M,26,170,80,Iran,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze
4,Denis Mikhaylovich Ablyazin,M,24,161,62,Russia,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,Zhu Ting,F,21,198,78,China,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold
2010,Bojana ivkovi,F,28,186,72,Serbia,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
2011,Shakhobiddin Shokirovich Zoirov,M,23,169,52,Uzbekistan,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold
2012,Milenko Zori,M,27,179,73,Serbia,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver
2013,Martin Zwicker,M,29,175,64,Germany,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze

We also can remove multiple columns, by putting a list in the .drop() method, containing all the columns we want to remove. like this:

In [53]:
df.drop(['NOC', 'Team'], axis=1)

,Name,Sex,Age,Height,Weight,Games,Year,Season,City,Sport,Event,Medal
0,Giovanni Abagnale,M,21,198,90,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,Patimat Abakarova,F,21,165,49,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
2,Luc Abalo,M,31,182,86,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver
3,Saeid Morad Abdevali,M,26,170,80,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze
4,Denis Mikhaylovich Ablyazin,M,24,161,62,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...
2009,Zhu Ting,F,21,198,78,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold
2010,Bojana ivkovi,F,28,186,72,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
2011,Shakhobiddin Shokirovich Zoirov,M,23,169,52,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold
2012,Milenko Zori,M,27,179,73,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver
2013,Martin Zwicker,M,29,175,64,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze

If we want to make the change permanent, we add the inplace argument:

In [54]:
df.drop('Name', axis=1, inplace=True)

In [55]:
df

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,M,21,198,90,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
1,F,21,165,49,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
2,M,31,182,86,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver
3,M,26,170,80,Iran,IRI,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze
4,M,24,161,62,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,F,21,198,78,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold
2010,F,28,186,72,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
2011,M,23,169,52,Uzbekistan,UZB,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold
2012,M,27,179,73,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver
2013,M,29,175,64,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze